@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Lancelot", serif;
    background-color: #E4E4F7;
}

/* header {
    width: 100vw;
} */

.fundo-header {
    width: 100%;
    /* position: absolute;  */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

nav {
    width: 100%;
    height: 10vh;
    /* background-color: rgb(255, 127, 217);  */
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    /* z-index: 1; */
}

nav img {
    width: 250px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.navbar {
    width: auto;
    display: flex;
    color: #E4E4F7;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 25px;
    font-size: 25px;
    gap: 100px;
}

a {
    text-decoration: none;
    color: #E4E4F7;
    transition: 0.5s;
    position: relative;
}

a:hover {
    color:#E4E4F7 ;
    transition: transform .2s;
}

 .nav-links::before {
    content: '';
    bottom: -4px;
    position: absolute;
    background-color:  #E4E4F7;
    border-radius: 4px;
    width: 100%;
    transform: scaleX(0);
    transition: transform .2s;
    transform-origin: right;
    height: 2px;
}

 .nav-links:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    background-color: #E4E4F7;
}


nav.active {
    background-color:#E4E4F7;
    color: #1E1E1E; 
    border-bottom-style:solid;
    border-color: #3b3b3b;
border-width: 1px;
}

nav.active  a{
    color:#1E1E1E; 
}

nav.active .nav-links::before {
    background-color: #3b3b3b;
}



.container {
    background: linear-gradient(to bottom, #E4E4F7, black);
}

.cisne {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 200px;
    gap: 90px;
}

.titulo-branco {
    color: #1E1E1E;
    font-size: 30px;
}

.texto-branco {
    color: #1E1E1E;
    font-size: 20px;
}

.titulo-negro {
    color: #E4E4F7;
    font-size: 30px;
}

.texto-negro {
    color: #E4E4F7;
    font-size: 20px;
}

.botao-branco {
    background-color: transparent;
    border: 1px solid #1E1E1E;
    border-radius: 18px;
    width: 150px;
    height: 50px;
    color: #1E1E1E;
    font-family: "Lancelot", serif;
    font-size: 25px;
    cursor: pointer;

}


.botao-negro {
    background-color: transparent;
    border: 1px solid #E4E4F7;
    border-radius: 18px;
    width: 150px;
    height: 50px;
    color: #E4E4F7;
    font-family: "Lancelot", serif;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s;
}

.botao-anim{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .botao-anim:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .botao-anim:hover  {
    padding-right: 25px;
  }
  
  .botao-anim:hover:after {
    opacity: 1;
    right: 0;
  }