@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Lancelot", serif;
    background-color: #1E1E1E;
}


.container {
    display: flex;
    width: 100%;
    height: 100%;
}


nav {
    width: 100vw;
    height: 10vh;
    /* background-color: aquamarine;  */
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: flex-start;
}

nav img {
    width: 250px;
    padding: 10px;
}

.fundo {
    height: 100vh;
    align-self: flex-end;
}

.cadastro {
    /* background-color: blueviolet; */
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
    margin-left: 250px;  
    margin-right: 50px;
}

.titulo-cadastro {
    font-size: 35px;
    color: #E4E4F7;
}

.titulo-input-cadastro {
    color: #E4E4F7;
    font-size: 25px;
}

.input-cadastro {
    background-color: #E4E4F7;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 380px;
    color: #1E1E1E;
}

.info-cadastro {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.outros-cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.outro-cadastro{
    color: #E4E4F7;
    font-size:19px ;
    cursor: pointer;
}

.botao-cadastro{
    display: inline-block;
    background-color: #1E1E1E;
    border: 1px solid #E4E4F7;
    border-radius: 18px;
    width: 150px;
    height: 50px;
    color: #E4E4F7;
    font-family:"Lancelot", serif ;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s;

}

.botao-cadastro span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .botao-cadastro span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .botao-cadastro:hover span {
    padding-right: 25px;
  }
  
  .botao-cadastro:hover  span:after {
    opacity: 1;
    right: 0;
  }

a{
    text-decoration: none;
}

.transicao {
    background-color:#141414;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    transition: 1s;
    display: flex;
    align-self: flex-end;
}

.transicao.active {
    width: 0px;
    transition: 1s;
}

.transicao.active.login{
    background-color:#cdcddf;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    transition: 1s;
    opacity: 1; 
}
