@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Lancelot", serif;
    background-color: #E4E4F7;
}

nav {
    width: 100%;
    height: 10vh;
    background-color: #1E1E1E; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    /* position: absolute; */
}

nav img{
    width: 50px;
    padding: 20px;
}

.navbar {
    width: 60%;
    display: flex;
    color: #BCBCBC;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
}


.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    transition: 0.5s;
}

.nav-links img{
    width: 30px;
}

.nav-links:hover{
    color: white;
    transform:scale(1.005); 
    translate: 5px;
    transition: 0.5s;
    transform-origin: center;
}

#opcaoCoreo{
    width: 100px;
    height: 100px;
    background-color: aqua;
    /* position: relative; */
    display: none;
}

.container{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.lateral{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    padding:20px; 
}

#titulo{
    font-weight: lighter;
    font-size: 35px;
    padding-left: 20px;
    padding-top: 20px;
}

.kpis{
    padding: 20px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 40px;
}

.kpi{
    /* background-color: rgb(172, 172, 255); */
    background-color: rgb(252, 249, 255);
    width: 250px;
    height: 100px;
    border-radius: 5px;
    border-style: solid;
    border-color: #646464;
    border-width: 1px;
    box-shadow: rgba(44, 44, 44, 0.4) 0px 2px 4px, rgba(68, 68, 68, 0.3) 0px 7px 13px -3px, rgba(61, 61, 61, 0.2) 0px -3px 0px inset;
}

.container-grafico{
    background-color: rgb(252, 249, 255);
    border-radius: 5px;
    border-style: solid;
    border-color: #646464;
    border-width: 1px;
    box-shadow: rgba(44, 44, 44, 0.4) 0px 2px 4px, rgba(68, 68, 68, 0.3) 0px 7px 13px -3px, rgba(61, 61, 61, 0.2) 0px -3px 0px inset;
    padding: 10px;
}


.grafico{
    position: relative; 
    /* height:200px; 
    width: 250px; */
}
