@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Lancelot", serif;
    background-color: #E4E4F7;
}


.fundo-header {
    width: 100%;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 1s;
}


nav {
    width: 100%;
    height: 10vh;
    /* background-color: rgb(255, 127, 217);  */
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    /* z-index: 1; */
    user-select: none;
}

nav img {
    width: 250px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.navbar {
    width: auto;
    display: flex;
    color: #E4E4F7;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 25px;
    font-size: 25px;
    gap: 100px;
}

a {
    text-decoration: none;
    color: #E4E4F7;
    transition: 0.5s;
    position: relative;
}

a:hover {
    color: #E4E4F7;
    transition: transform .2s;
}

.nav-links::before {
    content: '';
    bottom: -4px;
    position: absolute;
    background-color: #E4E4F7;
    border-radius: 4px;
    width: 100%;
    transform: scaleX(0);
    transition: transform .2s;
    transform-origin: right;
    height: 1px;
}

.nav-links:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    background-color: #E4E4F7;
}


nav.active {
    background-color: #E4E4F7;
    color: #1E1E1E;
    border-bottom-style: solid;
    border-color: #3b3b3b;
    border-width: 1px;
}

nav.active a {
    color: #1E1E1E;
}

nav.active .nav-links::before {
    background-color: #3b3b3b;
}



.container {
    background: linear-gradient(to bottom, #E4E4F7 25%, black 55%);
    position: absolute;
    z-index: -1;
}

.cisne {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 100px; */
    padding-left: 300px;
    padding-right: 300px;
    /* padding-bottom: 200px; */
    gap: 90px;
    position: relative;
}

.titulo-branco {
    color: #1E1E1E;
    font-size: 30px;
}

.texto-branco {
    color: #1E1E1E;
    font-size: 25px;
    line-height: 150%;
}

.titulo-negro {
    color: #E4E4F7;
    font-size: 30px;
}

.texto-negro {
    color: #E4E4F7;
    font-size: 25px;
    line-height: 150%;
}

.botao-branco {
    background-color: transparent;
    border: 1px solid #1E1E1E;
    border-radius: 18px;
    width: 150px;
    height: 50px;
    color: #1E1E1E;
    font-family: "Lancelot", serif;
    font-size: 25px;
    cursor: pointer;
    user-select: none;

}


.botao-negro {
    background-color: transparent;
    border: 1px solid #E4E4F7;
    border-radius: 18px;
    width: 150px;
    height: 50px;
    color: #E4E4F7;
    font-family: "Lancelot", serif;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s;
    user-select: none;
}

.botao-anim {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.botao-anim:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.botao-anim:hover {
    padding-right: 25px;
}

.botao-anim:hover:after {
    opacity: 1;
    right: 0;
}

.pena {
    width: 45px;
    position: relative;
    /* opacity: 0;   
     animation-name: peninhas; 
    animation-duration: 4s;  */
}

#penad1 {
    align-self: flex-end;
    top: 100px;
    left: 90px;
    transform: rotate(-9deg);
}

#penae1 {
    align-self: flex-start;
    top: 150px;
    /* left:20px; */
    right: 60px;
    transform: rotate(-80deg);
}

#penad2 {
    align-self: flex-end;
    bottom: 270px;
    left: 205px;
    transform: rotate(-9deg);
}

#penae2 {
    align-self: flex-start;
    bottom: 470px;
    right: 200px;
    transform: rotate(-90deg);

}

#penad3 {
    align-self: flex-end;
    bottom: 300px;
}

#penae3 {
    align-self: flex-start;
    bottom: 450px;
    transform: rotate(-20deg);
    right: 90px;
}


#penad4 {
    align-self: flex-end;
    bottom: 350px;
    transform: scaleX(-1);
    right: 250px;
    /* opacity: 85%; */
}

#penae4 {
    align-self: flex-start;
    bottom: 250px;
    /* opacity: 85%; */
}

#penad5 {
    align-self: flex-end;
    bottom: 185px;
}

/* #penabrancae1{
    align-self: flex-start;
    bottom: 50px;
    transform: scaleX(-1);
    right: 40px;
    opacity: 85%;
} */

#penabrancad1 {
    align-self: flex-end;
    top: 80px;
    left: 50px;
    transform: rotate(90deg);
}

#penabrancae2 {
    align-self: flex-start;
    right: 170px;
    bottom: 450px;
    transform: scaleX(-1);
}

#penabrancad2 {
    align-self: flex-end;
    bottom: 350px;
    left: 170px;
    transform: rotate(-5deg);
}

#penabrancae3 {
    align-self: flex-start;
    bottom: 350px;
    transform: rotate(-5deg);
    right: 50px;
}


.transicao {
    background-color:#cdcddf;
    width: 0px;
    height: 100vh;
    position: fixed;
    z-index: 1;
    transition: 1s;
    
}

.transicao.active {
    width: 100vw;    
}

.transicao.activec {
    width: 100vw;    
    background-color:#141414;
}

footer{
    color: #E4E4F7;
    border-top-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    gap: 30px;
}

footer img{
    width: 50px;
    height: 50px;
}
 
.links{
    display: flex;
    gap: 30px;
}

